@use "src/var.scss";

.banners-anchor {
  margin-bottom: 10px;
  width: 100%;

  .banner-item {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: inset 0 0 20px #ffffff63, var.$cs_box-shadow;
    background-size: contain;
    background-repeat: no-repeat;

    .banner-title {
      font-size: 14pt;
      font-weight: 500;
    }

    .banner-subTitle {
      font-size: 11pt;
      font-weight: 300;
    }

    .banner-texts {
      font-size: 9pt;
      font-weight: 300;
      width: 100%;
    }

    .banner-image {
      width: 70px;
      img {
        height: 55px;
      }
    }
  }
}
