
.blue-filled-button {
  width: 100%;
  height: 44px;
  background-color: #3176DE;
  border-radius: 8px;
  text-align: center;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #80A2D5;
  }
  .button-loader {
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 15px;
  }
}