@use "/src/var.scss";

.profile_accounts {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: var.$cs_box-shadow;
  box-sizing: border-box;

  ul {
    list-style-type: none;
    box-sizing: border-box;
  }
}

// collapser

.collapser {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  width: 100%;

  ul {
    list-style: none;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.25s ease-in-out;
  }

  div.label {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
  }

  i {
    position: absolute;
    transform: translate(-6px, 0);
    right: 10px;
    top: 20px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: var.$cs_gray2;
      width: 3px;
      height: 9px;
      transition: all 0.25s ease-in-out;
    }

    &::before {
      transform: translate(-2px, 0) rotate(45deg);
    }

    &::after {
      transform: translate(2px, 0) rotate(-45deg);
    }
  }

  input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    padding: 15px 20px;
  }

  input[type="checkbox"]:checked {
    content: "checked";
  }

  input[type="checkbox"]:checked ~ ul {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }

  input[type="checkbox"]:checked ~ i::before {
    transform: translate(2px, 0) rotate(45deg);
  }

  input[type="checkbox"]:checked ~ i::after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
