.country-selector-full {
  width: 100%;
  height: 53px;

  .country-sel-button {
    width: 100%;
    background-color: #ffffff;
    padding-right: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
    text-indent: 14px;
    font-size: 15px;
    cursor: pointer;
    justify-content: start;
    height: 53px;
  }
  .country-options {
    width: 100%;
  }
}

.country-options {
  width: 100%;
  max-width: 540px;
  max-height: 400px;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: -50px;
  position: absolute;
  z-index: 1;
  padding: 16px 0;

  .country-search {
    margin: 15px 16px;
  }

  .option {
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.mini {
  font-size: 15px !important;
  .selector {
    width: 100% !important;
    height: 35px;
    button {
      width: 100% !important;
      height: 35px;
    }
  }
  .phone-code {
    visibility: hidden;
  }
  .country-options {
    margin-top: -35px !important;
    width: 360px;
  }

  .input-cc-search {
    height: 33px !important;
    outline: none;
    &:focus {
      border: none !important;
    }
    &:hover {
      border: none !important;
    }
  }
}
