.email_confirmation_page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .verified {
    display: flex;
    align-items: center;
    color: #278728;
  }

  .error {
    display: flex;
    align-items: center;
    color: #CC2525;
  }

  .icon {
    margin-left: 10px;
  }
}