# .NET build artifacts (только внутри src)
src/**/bin/
src/**/obj/

# Visual Studio
.vs/

# =========================
# Node / Vite
# =========================
**/node_modules/
dist/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db
