@use "./src/var";

.login {
  background: #ffffff;
  border-radius: 10px;
  margin: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 50px;

  input[type="text"] {
    width: 100%;
  }

  .login-form {
    width: 380px;
    display: flex;
    flex-direction: column;

    @media all and (max-width: 640px) {
      margin: 10px;
      width: 320px;
    }

    h1 {
      padding-bottom: 30px;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      color: #000000;
    }

    .phone-form {
      width: 100%;
      position: relative;

      .captcha {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding: 15px 0;
      }

      .field_validation_error {
        margin-top: 10px;
        position: relative;
      }
    }

    .phone-title {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: #333333;
      padding-bottom: 10px;
    }

    .phone-area {
      display: flex;

      .simple-input {
        box-sizing: border-box;
        height: 50px;
        background: #f8f8f8;
        border: 1px solid #d9d6d6;
        border-radius: 8px;
        margin-left: 15px;
        width: 100%;
        outline: none;
        padding: 0 8px;
        font-size: 18px;

        :hover {
          border: 1px solid #367edb;
        }
      }
    }

    .agree-area {
      padding: 15px 0;
    }

    .signin-selector {
      margin-top: 5px;
      margin-bottom: 24px;

      .inner {
        position: relative;
        height: auto;
      }
    }
  }
  
  .slides {
    width: 35%;

    @media all and (max-width: 640px) {
      display: none;
    }
    
    .cs-slide {
      margin-bottom: 60px;
      text-align: center; 
    }
    
    img {
      width: 100%;
    }
  }
}

.login-tabs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;

  .login-tab {
    cursor: pointer;
    justify-content: center;
    width: 100%;
    text-align: center;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]:checked+label {
      border-bottom: 2px solid var.$cs_blue;
    }

    input[type="radio"]+label:hover {
      border-bottom: 2px solid var.$cs_blue_light;
    }

    label {
      display: block;
      cursor: pointer;
      border-bottom: 2px solid var.$cs_gray5;
      width: 100%;
      padding: 10px 5px;
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bolder;
    }
  }
}