.bordered-button {
  width: 100%;
  height: 44px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border: 1px solid #367EDB;
  border-radius: 8px;
  background: none;
  color: #367EDB;
  font-weight: 400;
}