@use "../../var";

.side_menu_mobile {
  display: none;
}

.side_menu {
  width: 260px;
  // background: #f8fafc;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 12px 10px 18px;

  .menu_wrapper {
    position: sticky;
    // top: 180px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;

    ul {
      list-style-type: none;
      padding: 4px 6px;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 4px;

      a {
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #4b5563;
      }
    }
  }

  .logo {
    border: none;
    background: transparent;
    height: 64px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu_item {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
      width: 100%;
      min-height: 44px;
      display: flex;
      align-items: center;
      border-radius: inherit;
      padding: 12px 12px;
      box-sizing: border-box;
      justify-content: space-between;
      color: #909499;
      transition: background 0.15s ease, color 0.15s ease;

      .menu_item_title {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      .arrow_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.sub {
        padding-left: 44px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #6b7280;

        &.active,
        &:hover {
          background: #f2f3f5;
          color: #000;
        }
      }

      &.active {
        background: #f2f3f5;
        color: #000;

        svg {
          rect,
          path,
          circle {
            stroke: #000;
          }
        }
      }

      &:hover {
        color: #000;
        background: #f2f3f5;

        svg {
          rect,
          path,
          circle {
            stroke: #000;
          }
        }
      }
    }
  }

  .sub_menu {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    animation: open 0.15s ease-out forwards;
    padding-left: 6px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 6px 0 2px;
      margin: 0;

      li {
        margin: 0;
      }
    }

    &.closing {
      animation: close 0.2s ease-out forwards;

      ul {
        gap: 0;
        transition: gap 0.2s ease-out;
      }
    }
  }

  @keyframes open {
    from {
      height: 0;
      padding: 0;
    }

    to {
      height: 110px;
      padding-top: 5px;
      padding-bottom: 10px;
    }
  }
  @keyframes close {
    from {
      height: 110px;
      padding-top: 5px;
      padding-bottom: 10px;
    }

    to {
      height: 0;
      padding: 0;
    }
  }
}
