.statement-modal {
  width: 450px;
  height: 190px;
  background: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 32px 25px;
  display: flex;
  flex-direction: column;

  .fast-click{
    display: flex;
    width: 100%;
    color: #3176DE;
    cursor: pointer;
    padding-bottom: 15px;
    a:not(:first-child){
      padding-left: 15px;
    }
  }

  .statement-footer-button {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .from-to-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}