.auth-page {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
  }
}
