.input-phone {
  width: 336px;
  display: flex;
  background-color: white;
  .country-code {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    margin-right: 8px;
    background-color: #F2F2F2;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 16px;
    input {
      width: 100%;
      height: 100%;
      border: 0;
      box-sizing: border-box;
      border-radius: 8px;
      background-color: #F2F2F2;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      text-align: right;
      color: #000000;
    }
    img {
      width: 55px;
      height: 28px;
      margin-right: 9px;
    }
    ::placeholder {
      text-align: right;
    }
  }
  input[type='number'] {
    -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .phone-number {
    width: 218px;
    height: 50px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    input {
      width: 100%;
      height: 100%;
      border: 0;
      box-sizing: border-box;
      border-radius: 8px;
      background-color: #F2F2F2;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      color: #828282;
      text-indent: 16px;
    }
    input:focus, textarea:focus, select:focus{
      outline: none;
    }
  }
  .phone-number:hover {
    border: 1px solid #367EDB;
  }
}
