@use "../../../var";

.protected-layout {
  display: flex;
  flex-direction: column;
  // width: 900px;
  min-height: 100vh;
  // margin: auto;
  overflow: auto;
  // margin-top: 20px;
  // padding: 5px;
  background: transparent;

  @media all and (max-width: 640px) {
    margin: auto;
  }

  .protected-layout_container {
    // display: flex;
    // width: 890px;
    min-height: calc(100vh - 100px);

    @media all and (max-width: 640px) {
      width: 100%;
      border: 0;
    }

    .body {
      display: flex;
      // flex-direction: column;
      width: 100%; /* space for SideMenu */
      // background: var.$cs_bg_color;
      border-radius: 20px;
      box-sizing: border-box;
      padding: 3px;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 32px;
      overflow-y: auto;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      border-radius: 20px;

      @media all and (max-width: 640px) {
        padding: 0;
        margin-top: 10px;
      }
    }
  }
}


// @use "/src/var";

// .protected-layout {
//   display: flex;
//   flex-direction: column;
//   // width: 900px;
//   min-height: 100vh;
//   // margin: auto;
//   overflow: auto;
//   margin-top: 20px;
//   padding: 5px;
//   background: transparent;

//   @media all and (max-width: 640px) {
//     margin: auto;
//   }

//   .protected-layout_container {
//     display: flex;
//     // width: 890px;
//     min-height: calc(100vh - 100px);

//     @media all and (max-width: 640px) {
//       width: 100%;
//       border: 0;
//     }

//     .body {
//       display: flex;
//       flex-direction: column;
//       width: 100%; /* space for SideMenu */
//       // background: var.$cs_bg_color;
//       border-radius: 20px;
//       box-sizing: border-box;
//       padding: 3px;
//     }

//     .content {
//       display: flex;
//       flex-direction: column;
//       align-items: start;
//       padding: 32px;
//       overflow-y: auto;
//       box-sizing: border-box;
//       height: 100%;
//       width: 100%;
//       border-radius: 20px;

//       @media all and (max-width: 640px) {
//         padding: 0;
//         margin-top: 10px;
//       }
//     }
//   }
// }
