.tab_list_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  margin-top: 15px;

  .tab_list {
    display: flex;
    gap: 5px;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
    }
  }
}
