.set-email-layout-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;

  .set-email-layout-content {
    display: flex;
    width: 380px;
    flex-direction: column;
    justify-content: center;
  }
}
.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 10px;
}
.titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
}
