.chat {
  position: fixed;
  bottom: 100px;
  right: 32px;
  background: #ffffff;
  width: 460px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px 5px rgba(28, 58, 102, 0.1);
  z-index: 8000;

  @media all and (max-width: 640px) {
    width: 95%;
    right: 10px;
  }

  .chat-header {
    height: 60px;
    background: #3176de;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
    font-weight: 550;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    padding-left: 20px;
  }

  .chat-container {
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 8px 10px 10px;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;

    .img-area {
      max-width: 31px;

      .ellipse-img-chat {
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    .text-content {
      width: max-content;
      max-width: 350px;
      padding: 7px 10px;
      box-sizing: border-box;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      gap: 10px;
    }

    .message {
      gap: 10px;
      margin: 10px 0;

      &.incoming {
        align-self: flex-start;

        .message-container {
          align-items: start;
          max-width: 360px;
        }

        .text-content {
          background: #f9f4ff;
        }

        .ellipse-img-chat {
          background: #3176de;
          color: #fbfbfb;
          text-align: center;
        }
      }

      &.outgoing {
        align-self: flex-end;
        text-align: right;
        flex-direction: row-reverse;

        .message-container {
          align-items: end;
          max-width: 360px;
        }

        .text-content {
          background: #f0faff;
        }

        .ellipse-img-chat {
          background: #757779;
          color: #fbfbfb;
          text-align: center;
        }
      }

      .time {
        font-size: 12px;
        margin-top: 5px;
        margin-left: 5px;
        min-width: 70px;
        opacity: 0.6;
      }
    }

    &::-webkit-scrollbar {
      width: 12px;
      padding-right: 8px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      height: 110px;
      background: #f2f2f2;
      border-right: 8px solid #ffffff;
    }
  }

  .input-container {
    border-top: 1px solid #f5f8fa;
    padding: 10px 13px 10px 20px;
  }
  .message-input {
    height: 30px;
    width: 380px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-right: 10px;
    border-style: hidden;
    outline: none;
  }
  .send-button {
    background: none;
    height: 24px;
    width: 24px;
    border: 0;
    cursor: pointer;
    margin-left: 7px;
    margin-top: 9px;
  }
  .file-choose-container {
    margin-right: 7px;
    margin-top: 9px;

    .upload-file-button {
      background: none;
      height: 21px;
      width: 9px;
      border: 0;
      cursor: pointer;
    }
  }

  .file-attachment {
    background-color: #f0ecec;
    color: #3176de;
    padding-left: 10px;
    padding-right: 65px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: right;

    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .cross {
      display: flex;
      align-items: center;
      margin-left: 10px;
      color: #7e7e7e;
      cursor: pointer;
    }
  }
}
