.chat-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  right: 32px;
  bottom: 32px;
  background: #3176DE;
  box-shadow: 0 0 30px 5px rgba(28, 58, 102, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;

  .chat-toggle-pin {
    position: absolute;
    bottom: 43px;
    left: 36px;
    width: 25px;
    height: 25px;
    background: #DC2828;
    color: #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .chatIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      width: 36px;
      height: 33px;
    }
  }

  .close-chat::before,
  .close-chat::after {
    position: absolute;
    content: "";
    display: block;
    width: 27.7px;
    height: 2px;
    background: #FFFFFF;
    right: 15.5px;
    pointer-events: none;
  }

  .close-chat::before {
    transform: matrix(0.71, -0.74, 0.68, 0.71, 0, 0);
  }

  .close-chat::after {
    transform: matrix(0.71, 0.74, -0.68, 0.71, 0, 0);
  }

}
