@use "../../../../var";

.address-input {
  display: flex;
  width: 100%;
  height: 53px;
  border: 1px solid var.$cs_gray5;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 2px 13px 2px 2px;
  margin-bottom: 10px;

  &.checked {
    background-color: var.$cs_gray5;
    color: var.$cs_gray2;
    cursor: not-allowed;
  }

  input {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    text-indent: 10px;
    border: none;
    width: 100%;
    height: 100%;

    &:disabled {
      background-color: var.$cs_gray5;
      color: var.$cs_gray2;
      cursor: not-allowed;
    }
  }
}

.payment-alert {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 10px;
  background: rgba(174, 39, 39, 0.04);
  border: 1px solid var.$cs_warning_color;
  gap: 5px;

  .info-card {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    gap: 5px;

    :first-child {
      color: var.$cs_gray3;
    }

    :nth-child(2) {
      color: black;
      font-weight: 600;
    }
  }
}
.transfer-action-buttons {
  display: flex;
  padding-top: 10px;
}
