// color

$cs_white: #ffffff;
$cs_green: #27ae60;
$cs_yellow: #f8bd27;
$cs_red: #eb5757;
$cs_blue: #2169fc;
$cs_blue_light: #3176de;
$cs_blue_lighter: #c3d6f1;
$cs_head: #606dff;
$cs_gray2: #4f4f4f;
$cs_gray3: #828282;
$cs_gray4: #bdbdbd;
$cs_gray5: #e0e0e0;
$cs_gray6: #f1f0f6;
$cs_warning_color: #ff0000;

$text_gray: #4f4f4f;

$cs_box-shadow: 0 4px 11px rgba(0, 0, 0, 0.1);
$cs_bg_color: #f5f8fa;
