.card-option {
  background-color: #FFFFFF;
  border: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 10px;

  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
  }

&:hover {
  background-color: #F2F2F2;
}
}
