.topup-main {
  width: 100%;
  .options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.topup-option {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  .description {
    display: flex;
    flex-direction: column;
    .option-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
