.subsum-finished {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    padding: 5px;
  }
  .deeplink {
    width: 100%;
    height: 44px;
    background-color: #3176DE;
    border-radius: 8px;
    text-align: center;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    z-index: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
    }
  }

}

