@use "../../var";

hr {
  color: var.$cs_gray6;
}
.dropdown-link {
  width: 100%;
  height: 32px;
  background-color: white;
  border: 0;
  display: flex;
  justify-content: start;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  margin: 5px 0;
  cursor: pointer;
  padding: 0 15px;

  .icon {
    padding-right: 10px;
    padding-top: 5px;
  }

  .kyc-status {
    display: flex;
    min-width: 120px;
    flex-direction: row-reverse;
    color: white;
    font-size: 12px;

    .verified {
      border-radius: 10px;
      padding: 4px 10px;
      background-color: var.$cs_green;
    }

    .not-verified {
      border-radius: 10px;
      padding: 4px 10px;
      background-color: var.$cs_red;
    }
  }
}

.dropdown-link:hover {
  background: #f2f2f2;
}
