.app_link_modal {
  width: 375px;
  height: 445px;
  background: #FFFFFF;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 25px;

  button {
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .modal_content {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }
  }
}
