@use "../../var";

.footerv2 {
  display: flex;
  height: 68px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0 32px;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .left {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    a {
      color: #000000;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .right {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;

    .store-button {
      cursor: pointer;
      img {
        width: 123px;
        height: 37px;
      }
    }
  }

  .left,
  .right {
    @media screen and (max-width: 640px) {
      justify-content: center;
    }
  }
}
