.copy-button {
  background-image: url("/src/static/icons/copyIcon.svg");
  background-size: cover;
  width: 14px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 5px;
  filter: drop-shadow(2px 2px 4px #bdbdbd);
}
