.details-modal {
  width: 625px;
  height: 370px;
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 32px 25px;
  justify-content: space-between;

  .copy-notification {
    font-weight: 300;
    font-size: 16px;
    line-height: 12px;
    color: #828282;
    position: absolute;
    top: 35px;
    right: 60px;
    width: 230px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }

  span {
    width: fit-content;
  }

  .details-content {
    width: 100%;
    height: 70px;
    justify-content: space-between;

    .public-address {
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #333333;
      font-weight: 500;
    }

    .address {
      padding-top: 10px;
      align-items: center;
      justify-content: start;
    }

    .grey-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #828282;

      .bottom {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }

  .close-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 10px;
    z-index: 1;
    cursor: pointer;
    :hover {
      opacity: 0.8;
    }
  }

  .qr-code {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.details-fiat-modal {
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 32px 25px;
  justify-content: space-between;

  display: flex;
  flex-direction: column;
  align-items: start;



  .bank-details-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    color: #1D1D1F;
    padding: 0 0 10px 10px
  }

  .bank-details-card {
    gap: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }


}
