@use "../../../var.scss";

.kyc-selfie-page {
  width: 600px;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px 30px;
  box-sizing: border-box;
  box-shadow: var.$cs_box-shadow;
  .selfie-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .photo-group {
      width: 100%;
      padding: 10px 10px;
    }
  }
  .button-group {
    display: flex;
    justify-content: center;
    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
  }
}
