.new-card-modal {
  display: flex;
  flex-direction: column;
  width: 412px;
  background: #FFFFFF;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 45px 35px;


  .card-info-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background: #367EDB;
    border-radius: 14px;
    padding: 20px 20px;


    .card-info-container-element {
      position: relative;

      box-sizing: border-box;

      .cs-input_error {
        position: absolute;
        top: 23px;
        left: 5px;
        color: #d74343;
      }

      input {
        background: #FFFFFF;
        border: none;
        height: 38px;
        border-radius: 7px;
        outline: none;
        width: 100%;
        padding-left: 15px;
        box-sizing: border-box;
      }

      &:not(:first-child) {
        padding-top: 15px;
      }
    }
    .cs-input_error{
      margin-bottom: 45px;
    }

    .card-cvv {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .card-info-container-element {
        width: 120px;
        &:first-child {
          padding-top: 15px;
        }
      }
    }


  }
}