header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: right;
  box-sizing: border-box;
  padding-top: 23px;
  padding-right: 25px;
  gap: 16px;
  position: relative;
  top: 0;
  padding: 10px;

  .notification_icons {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .icon_wrapper {
    display: flex;

    .yellow_dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #ff8b02;
    }
  }
}
