header {
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  // padding-top: 23px;
  // padding-right: 25px;
  gap: 16px;
  // position: relative;
  // top: 0;
  padding: 14px 40px;
  border-bottom: 1px solid #e5e7eb;
  .logo {
    border: none;
    background: transparent;
    // height: 64px;
    // width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    .logo-title {
      letter-spacing: 0.245px;
      font-weight: 700;
      font-size: 24.5px;
      text-decoration: none;
    }
  }
  .right-box {
    display: flex;
  }
  .notification_icons {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .icon_wrapper {
    display: flex;

    .yellow_dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #ff8b02;
    }
  }
}
a:-webkit-any-link {
  color: inherit;
  text-decoration: none !important;
}
// header {
//   height: 65px;
//   display: flex;
//   align-items: center;
//   justify-content: right;
//   box-sizing: border-box;
//   padding-top: 23px;
//   padding-right: 25px;
//   gap: 16px;
//   position: relative;
//   top: 0;
//   padding: 10px;

//   .notification_icons {
//     display: flex;
//     align-items: center;
//     gap: 25px;
//   }

//   .icon_wrapper {
//     display: flex;

//     .yellow_dot {
//       width: 12px;
//       height: 12px;
//       border-radius: 50%;
//       background: #ff8b02;
//     }
//   }
// }
