.profile-main {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  padding: 40px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 30px 5px rgba(116, 114, 114, 0.1);
  .link-div {
    width: 100%;
  }
  a {
    text-decoration: none;
    width: fit-content;
  }

  a:hover {
    opacity: 0.7;
  }
  .title {
    font-style: normal;
    font-weight: 550;
    font-size: 22px;
    color: #000000;
  }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 5px;
    align-items: center;

    .avatar {
      height: 60px;
      width: 60px;

      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
      }

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }

  .upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 70px;
    width: 70px;

    &:hover {
      cursor: pointer;
    }
  }

  .container {
    box-sizing: border-box;
    margin-top: 16px;
    display: flex;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 16px;
  }
  .row {
    height: 65px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.last {
      border: 0;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
  }
  .status {
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
    &.confirmed {
      color: #27ae60;
    }
    &.pending {
      color: #f2c94c;
    }
  }
  .main-info {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #367edb;
  }
  .additional-info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    color: #828282;
    margin-top: 4px;
  }
  .icons {
    display: flex;
    align-items: center;
  }
}
