.buy-button {
  width: 77px;
  height: 28px;
  border: 1px solid #367EDB;
  border-radius: 17px;
  color: #367EDB;
  background: white;
  text-align: center;
}

.buy-button:hover {
  background: #CCDAF5;
}
