@use "../../../var";

.blue-bordered-button {
  width: 100%;
  height: 44px;
  background-color: transparent;
  border-radius: 8px;
  text-align: center;
  border: 2px solid var.$cs_blue_light;
  color: var.$cs_blue_light;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #80a2d5;
  }
  .button-loader {
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 15px;
  }
}
