.response_modal {
  width: 550px;
  height: 190px;
  background: white;
  border-radius: 10px;
  padding: 45px 18px 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text {
    font-weight: 700;
    font-size: 18px;
    word-break: break-all;
    margin-bottom: 50px;
  }
}