.transaction-details {
  min-width: 400px;
  max-width: 550px;
  background: #F1F0F6;
  border-radius: 10px;
  padding: 30px 30px 60px;
  box-sizing: border-box;
  .title {
    margin: 30px 0 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
  }
  .date {
    font-weight: 500;
    font-size: 18px;
    color: #828282;
  }
  .amount {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
    margin-top: 10px;
  }
  .container {
    background: white;
    border-radius: 15px;
    padding: 16px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #E0E0E0;

    .label-width-icon {
      display: flex;
      flex-direction: row;
      gap: 10px;

      img {
        width: 18px;
        height: 18px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
  .value {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #828282;
    text-align: right;
    word-wrap: anywhere;
    max-width: 180px;
  }
}
